certifi==2020.4.5.2
chardet==3.0.4
cloudpickle==1.4.1
cycler==0.10.0
decorator==4.4.2
future==0.18.2
gluoncv==0.7.0
graphviz==0.8.4
hyperopt==0.2.4
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.1
mxnet==1.6.0
networkx==2.4
numpy==1.18.5
Pillow==7.1.2
portalocker==1.7.0
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
scipy==1.4.1
six==1.15.0
tqdm==4.46.1
urllib3==1.26.5
